.header {
    position: relative;
    z-index: 50;

    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }
    &__in {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        .is-fixed & {
            border-radius: 55px;
            backdrop-filter: blur(14.300000190734863px);
            box-shadow: inset -2px -2px 21px 5px rgba(105, 105, 105, 0.25);
            background: rgba(0, 0, 0, 0.2);
        }
    }
    &__menu {
        &--r-side {
            ul {
                justify-content: flex-end;
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 45px;
            li {
                a {
                    font-family: var(--second-family);
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 109%;
                    letter-spacing: -0.03em;
                    color: #fff;
                    text-decoration: none;
                    background-image: linear-gradient(#fff, #fff);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 1px;
                    transition: background-size .3s;
                    @media all and (max-width: 1023px) {
                        font-size: 14px;
                    }
                    &:hover {
                      background-size: 100% 1px;
                    }
                }
            }
        }
    }
    &__logo {
        font-size: 0;
        flex: 0 0 124px;
        @media all and (max-width: 1023px) {
            flex: 0 0 120px;
        }
    }
    &__burger {
        display: none;
        @media all and (max-width: 1023px) {
            display: block;
        }
        &--icon {
            width: 36px;
            height: 36px;
            cursor: pointer;
            background: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7.5L24 7.5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M6 18L30 18' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M6 28.5L18 28.5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") 50% / 100% no-repeat;
        }
        &--top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 40px;
        }
        &--close {
            width: 22px;
            height: 22px;
            background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.357981 0.357981C0.835288 -0.119327 1.60916 -0.119327 2.08646 0.357981L11 9.27152L19.9135 0.357981C20.3908 -0.119327 21.1647 -0.119327 21.642 0.357981C22.1193 0.835288 22.1193 1.60916 21.642 2.08646L12.7285 11L21.642 19.9135C22.1193 20.3908 22.1193 21.1647 21.642 21.642C21.1647 22.1193 20.3908 22.1193 19.9135 21.642L11 12.7285L2.08646 21.642C1.60916 22.1193 0.835288 22.1193 0.357981 21.642C-0.119327 21.1647 -0.119327 20.3908 0.357981 19.9135L9.27152 11L0.357981 2.08646C-0.119327 1.60916 -0.119327 0.835288 0.357981 0.357981Z' fill='%23363538' /%3E%3C/svg%3E") 50% / 100% no-repeat;
            cursor: pointer;
        }
        &--logo {
            max-width: 120px;
            width: 100%;
            display: block;
            filter: invert(1);
            font-size: 0;
            text-decoration: none;
        }
        &--body {
            overflow: auto;
            width: 320px;
            position: fixed;
            z-index: 10;
            right: -100%;
            top: 0;
            bottom: 0;
            max-height: 100%;
            border-radius: 0px 0px 8px 8px;
            background: #fff;
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
        }
        &.isOpened {
            &:before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.60);
                z-index: 9;
            }
            .header__burger--body {
                right: 0;
            }
        }
        &--menu {
            padding-bottom: 15px;
            > ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                gap: 23px;
                > li {
                    > a {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 112%;
                        letter-spacing: -0.02em;
                        color: #222;
                        text-decoration: none;
                        background-image: linear-gradient(#222, #222);
                        background-position: 0% 100%;
                        background-repeat: no-repeat;
                        background-size: 0% 1px;
                        transition: background-size .3s;
                        &:hover {
                            background-size: 100% 1px;
                        }
                    }
                }
            }
        }
        &--info {
            display: flex;
            flex-direction: column;
            gap: 17px;
            margin-top: auto;
            margin-top: auto;
        }
        &--inf {
            font-weight: 500;
            font-size: 18px;
            line-height: 110%;
            letter-spacing: -0.02em;
            color: #121212;
            position: relative;
            padding-left: 36px;
            text-decoration: none;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
            }
        }
        &--phone {
            &:before {
                background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.718901 2.77852L1.56162 1.08779C2.16024 -0.113208 3.75586 -0.372958 4.70237 0.576517L6.93971 2.82089C7.53659 3.41964 7.68456 4.33436 7.30706 5.09173L7.04944 5.60858C6.63496 6.44014 6.62807 7.42414 7.11103 8.21764C7.48912 8.83885 7.97318 9.55228 8.45526 10.0359C8.87074 10.4527 9.4564 10.8709 10.0067 11.2213C10.929 11.8086 12.1055 11.6979 12.9854 11.0485C13.77 10.4693 14.8613 10.5645 15.5345 11.2707L17.4558 13.286C18.3683 14.2431 18.0964 15.8129 16.9156 16.4052L15.1738 17.2788C13.8202 17.9578 12.2865 18.2462 10.8557 17.7515C9.13706 17.1572 6.67405 15.969 4.34936 13.637C2.02467 11.305 0.840186 8.83424 0.247761 7.11021C-0.245442 5.67493 0.0420854 4.1364 0.718901 2.77852Z' fill='%23121212' /%3E%3C/svg%3E") 50% / 100% no-repeat;
            }
        }
        &--tg {
            &:before {
                background: url("data:image/svg+xml,%3Csvg width='21' height='18' viewBox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.62803 15.9852L7.94303 11.2264L16.583 3.44143C16.9655 3.09268 16.5043 2.92393 15.998 3.22768L5.33303 9.96643L0.72053 8.50393C-0.26947 8.22268 -0.28072 7.53643 0.94553 7.04143L18.9118 0.111431C19.733 -0.259819 20.5205 0.313931 20.2055 1.57393L17.1455 15.9852C16.9318 17.0089 16.313 17.2564 15.458 16.7839L10.8005 13.3414L8.56178 15.5127C8.30303 15.7714 8.08928 15.9852 7.62803 15.9852Z' fill='%23242424' /%3E%3C/svg%3E") 50% / 100% no-repeat;
            }
        }
        &--wts {
            &:before {
                background: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_114_2764)'%3E%3Cpath d='M11.127 0C4.98416 0 0 4.80668 0 10.7308C0 13.1029 0.79617 15.2877 2.14254 17.0668L0.724968 21.1119L5.14598 19.7823C6.87425 20.8435 8.92617 21.4615 11.127 21.4615C17.2698 21.4615 22.2539 16.6548 22.2539 10.7308C22.2539 4.80668 17.2698 0 11.127 0ZM16.2212 16.4863C14.2016 17.2666 11.7937 16.5113 9.1592 14.5823C6.52471 12.6534 4.78997 9.93797 4.67346 7.92166C4.55694 5.90535 6.25932 4.88783 7.18495 4.89408C8.11058 4.90032 9.12683 7.75312 9.13978 8.19009C9.15272 8.6333 8.00702 9.41985 7.9617 9.79439C7.91639 10.1689 9.52168 12.0167 10.2013 12.5161C10.8745 13.0093 12.2662 13.9581 12.9847 13.8707C13.6967 13.7771 14.1692 12.3975 14.6223 12.3101C15.0755 12.2227 17.5481 13.4088 17.7941 13.7146C18.0401 14.0268 18.0142 15.7996 16.2212 16.4863Z' fill='%23242424' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_114_2764'%3E%3Crect width='22.2539' height='21.4615' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 50% / 100% no-repeat;
            }
        }
        &--btn {
            margin-top: 25px;
            width: 100%;
            border: 0;
            outline: none;
            font-weight: 400;
            font-size: 12px;
            line-height: 97%;
            letter-spacing: -0.01em;
            color: #fff;
            padding: 16px;
            cursor: pointer;
            background: #161616;
            border-radius: 100px;
            &:hover {
                background: #333;
            }
        }
    }
}