.main-red {
    border-radius: 20px;
    background: #fff;
    padding-top: 85px;
    padding-bottom: 80px;
    @media all and (max-width: 1023px) {
        padding-top: 57px;
        padding-bottom: 57px;
    }
    @media all and (max-width: 540px) {
        padding-top: 40px;
        padding-bottom: 35px;
    }
    &__in {
        display: flex;
        gap: 40px;
        @media all and (max-width: 1023px) {
            flex-direction: column;
            gap: 30px;
        }
    }
    &__l-side {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            width: 100%;
        }
    }
    &__title {
        margin: 0;
        font-weight: 500;
        font-size: 35px;
        line-height: 111%;
        color: #333;
        margin-bottom: 10px;
        @media all and (max-width: 540px) {
            font-size: 25px;
        }
    }
    &__info {
        @media all and (max-width: 1023px) {
            display: flex;
            justify-content: space-between;
            gap: 40px;
        }
    }
    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 116%;
        color: #333;
        opacity: .54;
        max-width: 360px;
        @media all and (max-width: 540px) {
            font-size: 12px;
        }
    }
    &__r-side {
        width: 55%;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        @media all and (max-width: 1023px) {
            width: 100%;
        }
    }
    &__block {
        border-radius: 4px;
        background: #f6f6f6;
        padding: 18px 12px;
        display: flex;
        width: calc(50% - 4px);
        @media all and (max-width: 540px) {
            width: 100%;
        }
    }
    &__number {
        font-weight: 500;
        font-size: 14px;
        line-height: 91%;
        color: #3b3b3b;
        opacity: .26;
        flex: 0 0 55px;
    }
    &__text {
        width: 100%;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 116%;
        color: #323232;
        b {
            font-weight: 600;
        }
    }
    &__contact {
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: 25px;
    }
    &__span {
        font-weight: 500;
        font-size: 12px;
        line-height: 116%;
        color: #2b2b2b;
    }
    &__socs {
        gap: 16px;
        display: flex;
        align-items: center;
    }
    &__soc {
        font-size: 0;
        &:hover {
            opacity: .8;
        }
    }
}