.main-first {
    position: relative;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute; 
        inset: 0;
        bottom: -100px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 2;
        background: url("data:image/svg+xml,%3Csvg width='1280' height='504' viewBox='0 0 1280 504' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_2013_36)'%3E%3Crect x='-99' y='10' width='1477' height='484' fill='url(%23paint0_linear_2013_36)' /%3E%3C/g%3E%3Cg opacity='0.34' filter='url(%23filter1_f_2013_36)'%3E%3Crect x='-99' y='42' width='1477' height='452' fill='url(%23paint1_linear_2013_36)' /%3E%3C/g%3E%3Cg opacity='0.34' filter='url(%23filter2_f_2013_36)'%3E%3Crect x='-99' y='388' width='1477' height='106' fill='url(%23paint2_linear_2013_36)' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_2013_36' x='-109' y='0' width='1497' height='504' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='5' result='effect1_foregroundBlur_2013_36' /%3E%3C/filter%3E%3Cfilter id='filter1_f_2013_36' x='-109' y='32' width='1497' height='472' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='5' result='effect1_foregroundBlur_2013_36' /%3E%3C/filter%3E%3Cfilter id='filter2_f_2013_36' x='-109' y='378' width='1497' height='126' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='5' result='effect1_foregroundBlur_2013_36' /%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_2013_36' x1='639.5' y1='10' x2='639.5' y2='494' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23141414' stop-opacity='0' /%3E%3Cstop offset='1' stop-color='%2370338E' /%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_2013_36' x1='639.5' y1='42' x2='639.5' y2='494' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23141414' stop-opacity='0' /%3E%3Cstop offset='1' stop-color='%2370338E' /%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_2013_36' x1='639.5' y1='388' x2='639.5' y2='494' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23141414' stop-opacity='0' /%3E%3Cstop offset='1' stop-color='%23F8EBFF' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") 100% -5% / 100% no-repeat;
        @media all and (max-width: 1400px) {
            background-position: 0% 90%;
        }
        @media all and (max-width: 1023px) {
            background-position: 0% 80%;
            background-size: 200%;
        }
        @media all and (max-width: 800px) {
            background-position: 0% 110%;
        }
    }
    &__bg {
        z-index: 1;
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0;
        pointer-events: none;
        img {
            width: 100%;
        }
    }
    &__in {
        padding-top: 228px;
        padding-bottom: 63px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        position: relative;
        z-index: 2;
        @media all and (max-width: 1023px) {
            padding-top: 40px;
            padding-bottom: 420px;
        }
        @media all and (max-width: 540px) {
            padding-bottom: 300px;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__l-side {
        max-width: 480px;
        width: 100%;
        position: relative;
        z-index: 3;
        @media all and (max-width: 1023px) {
            max-width: 100%;
        }
    }
    &__subtitle {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 10px;
        line-height: 109%;
        letter-spacing: -0.03em;
        color: #fff;
        margin-bottom: 15px;
    }
    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 123%;
        color: #fff;
        margin: 0;
        margin-bottom: 35px;
        @media all and (max-width: 1023px) {
            margin-bottom: 10px;
            font-size: 40px;
        }
        @media all and (max-width: 540px) {
            font-size: 27px;
        }
    }
    &__buttons {
        display: flex;
        gap: 7px;
    }
    &__info {
        @media all and (max-width: 1023px) {
            display: flex;
            gap: 20px;
            align-items: flex-start;
        }
        @media all and (max-width: 620px) {
            flex-direction: column;
        }
    }
    &__btn {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 109%;
        letter-spacing: -0.03em;
        text-align: center;
        color: #232323;
        background: #fff;
        padding: 13px 60px;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        &:hover {
            background: #cacaca;
        }
    }
    &__soc {
        font-size: 0;
        &:hover {
            opacity: .8;
        }
    }
    &__image {
        position: absolute;
        left: 53%;
        transform: translateX(-50%);
        bottom: -178px;
        font-size: 0;
        width: 647px;
        @media all and (max-width: 1023px) {
            width: 600px;
        }
        @media all and (max-width: 540px) {
            width: 100%;
            min-width: 480px;
        }
    }
    &__r-side {
        max-width: 350px;
        width: 100%;
        position: relative;
        z-index: 3;
    }
    &__flags {
        display: flex;
        gap: 8px;
        margin-bottom: 15px;
    }
    &__flag {
        font-weight: 500;
        font-size: 10px;
        color: #fff;
        padding: 8px 18px;
        backdrop-filter: blur(16.5px);
        background: rgba(98, 98, 98, 0.2);
        border-radius: 100px;
        white-space: nowrap;
        display: inline-block;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            padding: 1px;
            background: linear-gradient(
                135deg,
                rgba(255,255,255,0.25) 0%,
                rgba(255,255,255,0.05) 40%,
                rgba(0,0,0,0.2) 100%
            );
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude;
            pointer-events: none;
        }
    }
    &__text {
        font-family: var(--second-family);
        font-weight: 300;
        font-size: 14px;
        line-height: 109%;
        letter-spacing: -0.03em;
        color: #fff;
        b {
            font-weight: 600;
        }
    }
}