@import "header/header";

@import "main-marketing/main-marketing";

@import "main-cards/main-cards";
@import "main-team/main-team";
@import "main-grid/main-grid";
@import "main-price/main-price";
@import "main-callback/main-callback";
@import "footer/footer";
@import "modals/modals";