@import "header/header";
@import "main-first/main-first";
@import "main-marketing/main-marketing";
@import "main-red/main-red";
@import "main-scroll/main-scroll";
@import "main-slider/main-slider";
@import "main-cards/main-cards";
@import "main-team/main-team";
@import "main-grid/main-grid";
@import "main-price/main-price";
@import "main-callback/main-callback";
@import "footer/footer";
@import "modals/modals";