<section class="main-scroll" id="main-scroll">
    <div class="main-scroll__top center_block">
        <div class="main-scroll__flag" v-if="sizes.window > 1023">Причины</div>
        <div class="main-scroll__txt">
            <h2 class="main-scroll__title">
                Эти проблемы <b>исключены</b> <br>в нашей системе
            </h2>
            <div class="main-scroll__subtitle">Каждая рабочая единица отвечает только за свою сферу деятельности, а взаимодействие между отделами строится по четким инструкциям и регламентам</div>
        </div>
    </div>
    <div class="main-scroll__item">
        <div class="main-scroll__in center_block">
            <div class="main-scroll__scroll">
                <div class="main-scroll__viewport">
                    <div class="main-scroll__line"></div>

                    <div class="main-scroll__cards">
                        <article class="main-scroll__card main-scroll__card--active">
                            <div class="main-scroll__card-img">
                                <img src="./img/scr1.png" alt="">
                            </div>
                            <div class="main-scroll__card-content">
                                <span class="main-scroll__card-num">01/</span>
                                <div class="main-scroll__card-title">Собственник бизнеса</div>
                                <div class="main-scroll__card-tag">Это вы</div>
                            </div>
                        </article>

                        <article class="main-scroll__card">
                            <div class="main-scroll__card-img">
                                <img src="./img/scr2.png" alt="">
                            </div>
                            <div class="main-scroll__card-content">
                                <span class="main-scroll__card-num">02/</span>
                                <div class="main-scroll__card-title">Директор <br>по маркетингу<br>на аутсорсе</div>
                            </div>
                        </article>

                        <div class="main-scroll__roles">
                            <div class="main-scroll__role">
                                <div class="main-scroll__role-title">Таргетолог</div>
                                <div class="main-scroll__role-text">Настраивает рекламу</div>
                            </div>
                            <div class="main-scroll__role">
                                <div class="main-scroll__role-title">Копирайтер</div>
                                <div class="main-scroll__role-text">Пишет продающий контент</div>
                            </div>
                            <div class="main-scroll__role">
                                <div class="main-scroll__role-title">Программист</div>
                                <div class="main-scroll__role-text">Делает сайт “живым”</div>
                            </div>
                            <div class="main-scroll__role">
                                <div class="main-scroll__role-title">Дизайнер</div>
                                <div class="main-scroll__role-text">Делает все чтобы вас запомнили</div>
                            </div>
                            <div class="main-scroll__role">
                                <div class="main-scroll__role-title">SEO- специалист</div>
                                <div class="main-scroll__role-text">Выводит ваш сайт на топовые позиции</div>
                            </div>
                            <div class="main-scroll__role">
                                <div class="main-scroll__role-title">Директолог</div>
                                <div class="main-scroll__role-text">Настраивает рекламу</div>
                            </div>
                            <div class="main-scroll__role">
                                <div class="main-scroll__role-title">СММ- специалист</div>
                                <div class="main-scroll__role-text">Продвигает бизнес в соц сетях</div>
                            </div>
                        </div>
                    </div>

                    <div class="main-scroll__progress">
                        <div class="main-scroll__progress-img" v-if="sizes.window > 1023">
                            <img src="./img/scroll_block.png" alt="">
                        </div>
                        <div class="main-scroll__progress-img" v-if="sizes.window <= 1023">
                            <img src="./img/scr3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
