<section class="main-slider" id="main-slider">
    <div class="main-slider__in center_block">
        <div class="main-slider__top">
            <div class="main-slider__flag" v-if="sizes.window > 1023">Причины</div>
            <h2 class="main-slider__title">Наша методология <b>приносит сотни миллионов выручки</b> от НОВЫХ клиентов на дистанции одного года</h2>
        </div>
        <div class="main-slider__bottom">
            <div class="main-first__bg center_block" v-if="sizes.window >= 580">
                <img src="./img/svg/logo-white.svg" alt="">
            </div>
            <div class="main-slider__slider">
                <div class="main-slider__phone">
                    <img src="./img/phone.png" alt="">
                </div>
                <div class="main-slider__slider-in js-phone">
                    <div class="main-slider__photo">
                        <img src="./img/avat1.jpg" alt="">
                    </div>
                    <div class="main-slider__photo">
                        <img src="./img/avat1.jpg" alt="">
                    </div>
                    <div class="main-slider__photo">
                        <img src="./img/avat1.jpg" alt="">
                    </div>
                    <div class="main-slider__photo">
                        <img src="./img/avat1.jpg" alt="">
                    </div>
                    <div class="main-slider__photo">
                        <img src="./img/avat1.jpg" alt="">
                    </div>
                </div>
                <div class="main-slider__slider-in js-phone-nav">
                    <div class="main-slider__info">
                        <div class="main-slider__info-title">Кто ты воин</div>
                        <div class="main-slider__info-text">Анализируем рынок, конкурентов, состояние текущего отдела маркетинга (при его наличии) и находим узкие места и точки роста</div>
                    </div>
                    <div class="main-slider__info">
                        <div class="main-slider__info-title">Кто ты воин</div>
                        <div class="main-slider__info-text">Анализируем рынок, конкурентов, состояние текущего отдела маркетинга (при его наличии) и находим узкие места и точки роста</div>
                    </div>
                    <div class="main-slider__info">
                        <div class="main-slider__info-title">Кто ты воин</div>
                        <div class="main-slider__info-text">Анализируем рынок, конкурентов, состояние текущего отдела маркетинга (при его наличии) и находим узкие места и точки роста</div>
                    </div>
                    <div class="main-slider__info">
                        <div class="main-slider__info-title">Кто ты воин</div>
                        <div class="main-slider__info-text">Анализируем рынок, конкурентов, состояние текущего отдела маркетинга (при его наличии) и находим узкие места и точки роста</div>
                    </div>
                    <div class="main-slider__info">
                        <div class="main-slider__info-title">Кто ты воин</div>
                        <div class="main-slider__info-text">Анализируем рынок, конкурентов, состояние текущего отдела маркетинга (при его наличии) и находим узкие места и точки роста</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>