.main-team {
    padding-top: 130px;
    @media all and (max-width: 1023px) {
        padding-top: 80px;
    }
    @media all and (max-width: 540px) {
        padding-top: 60px;
    }
    &__white {
        padding-top: 54px;
        padding-bottom: 54px;
        background: #fff;
        border-radius: 20px;
        @media all and (max-width: 540px) {
            padding-top: 40px;
            padding-bottom: 40px;
            border-radius: 10px;
        }
    }
    &__top {
        display: flex;
        gap: 60px;
        margin-bottom: 45px;
        @media all and (max-width: 1023px) {
            flex-direction: column-reverse;
            gap: 25px;
        }
        @media all and (max-width: 540px) {
            gap: 20px;
            margin-bottom: 25px;
        }
    }
    &__l-side {
        width: 40%;
        display: flex;
        align-items: center;
        gap: 15px;
        @media all and (max-width: 1023px) {
            width: 100%;
        }
        @media all and (max-width: 540px) {
            gap: 10px;
        }
    }
    &__image {
        max-width: 165px;
        width: 100%;
        font-size: 0;
        @media all and (max-width: 540px) {
            max-width: 110px;
        }
    }
    &__info {
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 116%;
        color: #2a2a2a;
        @media all and (max-width: 540px) {
            font-size: 10px;
        }
    }
    &__r-side {
        width: 60%;
        @media all and (max-width: 1023px) {
            width: 100%;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 35px;
        line-height: 111%;
        color: #2a2a2a;
        margin-bottom: 10px;
        @media all and (max-width: 1023px) {
            margin-bottom: 15px;
        }
        @media all and (max-width: 540px) {
            margin-bottom: 10px;
            font-size: 25px;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 116%;
        color: #2a2a2a;
        opacity: .5;
        @media all and (max-width: 540px) {
            font-size: 12px;
        }
    }
    &__blocks {
        display: flex;
        gap: 30px;
        @media all and (max-width: 1023px) {
            gap: 15px;
            flex-direction: column;
        }
    }
    &__block {
        width: 50%;
        display: flex;
        gap: 20px;
        @media all and (max-width: 1023px) {
            width: 100%;
        }
        @media all and (max-width: 540px) {
            flex-direction: column;
        }
        &--image {
            width: 50%;
            font-size: 0;
            overflow: hidden;
            border-radius: 5px;
            @media all and (max-width: 540px) {
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &--card {
            width: 50%;
            padding: 20px 20px 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media all and (max-width: 540px) {
                width: 100%;
                padding: 15px;
            }
        }
        &--name {
            margin-bottom: 5px;
            font-weight: 700;
            font-size: 20px;
            line-height: 116%;
            color: #2a2a2a;
        }
        &--work {
            font-weight: 500;
            font-size: 12px;
            line-height: 116%;
            color: #2a2a2a;
            margin-bottom: 30px;
        }
        &--text {
            margin-top: auto;
            font-weight: 500;
            font-size: 14px;
            line-height: 116%;
            color: #2a2a2a;
            @media all and (max-width: 540px) {
                font-size: 12px;
            }
        }
    }
}